# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Django
*.sqlite3
media/
staticfiles/

# Nuxt/Vue
node_modules/
.nuxt/
.output/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
